CHOST="x86_64-pc-linux-gnu"

MAKEOPTS="-j5"

CFLAGS="-march=native -O2 -pipe"
CXXFLAGS="${CFLAGS}"

GRUB_PLATFORMS="efi-64"

VIDEO_CARDS="intel i965"

INPUT_DEVICES="libinput"

PORTDIR="/usr/portage"
DISTDIR="/usr/portage/distfiles"
PKGDIR="/usr/portage/packages"

LC_MESSAGES=C

GENTOO_MIRRORS="http://www.gtlib.gatech.edu/pub/gentoo"
USE="alsa"
